
* {
	-mfx-blue: #2196f3;
	-mfx-charcoal: #445055;
	-mfx-green: #4caf50;
	-mfx-onyx: #353935;
	-mfx-orange: #ff9800;
	-mfx-purple: #7a0ed9;
	-mfx-red: #EF6E6B;
	-mfx-yellow: #FFEA00;


	-mfx-text-he: rgba(0, 0, 0, 0.87); /* High Emphasis */
	-mfx-text-me: rgba(0, 0, 0, 0.60); /* Medium Emphasis*/
	-mfx-text-disabled: rgba(0, 0, 0, 0.38); /* Disabled */


	-block-gradient: linear-gradient(to right bottom,#d1ccd2,#d6c1e8,#efd9f4);

	-ideblock-gradient: linear-gradient(to right bottom,#a9ebd0,#a6e2b5,#93e7a0);
	-eclipseideblock-gradient: linear-gradient(to right bottom,#f2bdfc,#c7a6e2,#e5b7f1);
	-androidideblock-gradient: linear-gradient(to right bottom,#189f39,#48e35c,#ebebeb);
	-stsideblock-gradient: linear-gradient(to right bottom,#189f39,#48e35c,#ebebeb);


}
