@import '../fonts/Fonts.css';
@import 'Colours.css';


*{
	-header-gradient :linear-gradient(to right bottom,  #7e7e7e, #868788, #8e9093, #97999d, #9fa3a8, #a8acb2, #b0b5bd, #b9bfc8);
	-javaBlock-gradient:  linear-gradient(to right bottom, #5c0052, #7e1156, #9c2858, #b84159, #cf5c5b, #e3785d, #f39662, #ffb56b);
	-javacBlock-gradient: linear-gradient(to right bottom,#01525c, #006b71, #00847f, #009e86, #00b785, #00d07b, #36e86b, #7dff51);
	-vendorBlock-gradient: linear-gradient(to right bottom,#3a83c5, #0096d5, #00aae0, #00bde5, #00cfe4, #00e0dd, #00f0d1, #56ffc3);
	-toggleButton-gradient: linear-gradient(to right bottom,#3a83c5, #0096d5, #00aae0, #00bde5, #00cfe4, #00e0dd, #00f0d1, #56ffc3);


}
.rootPane .mediamLabel{
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 15;
	-fx-text-fill: black;
}

.rootPane .commonheader{
	-fx-background-radius: 10;
	-fx-background-color:-header-gradient;
}

.rootPane .commonheader .mediamLabel{
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 15;
	-fx-text-fill: black;
}

.rootPane .commonheader .mediam2Label{
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 12;
	-fx-text-fill: black;
}

.rootPane .commonheader .bigLabel{
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 18;
	-fx-text-fill: black;
}




.rootPane .commonheader .toggleButtons{
-fx-background-radius: 10;
	-fx-background-color:-header-gradient;
}
.rootPane .commonheader .toggleButtons:selected,.toggleButtons:focused,.toggleButtons:selected:focused{
	-fx-background-radius: 10;
	-fx-background-color:-toggleButton-gradient;
}




