@import 'Colours.css';
@import '../fonts/Fonts.css';

*{
	-statusSuccess-gradient: linear-gradient(to right bottom,#319a6a, #3ba871, #46b678, #51c57e, #5dd384, #6ae28a, #78f08f, #86ff94);
-errorSuccess-gradient: linear-gradient(to right bottom, #ee6363, #ed5957, #eb4f4b, #e8443f, #e63832, #e22b25, #de1c15, #da0000);
}

.mainAppPane {
	-fx-background-color: #F9F9F8;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}
/**************************************************
 * Window Header
**************************************************/
.mainAppPane .close-icon {
	-mfx-color: #EF6E6B;
	-fx-opacity: 0.5;
}

.mainAppPane .close-icon:hover {
	-fx-opacity: 1.0;
}

.mainAppPane .minimize-icon {
	-mfx-color: #ffbf37;
	-fx-opacity: 0.5;
}

.mainAppPane .minimize-icon:hover {
	-fx-opacity: 1.0;
}

.mainAppPane .always-on-top-icon {
	-mfx-color:#7a0ed9;
	-fx-opacity: 0.5;
}

.mainAppPane .always-on-top-icon:hover {
	-fx-opacity: 1.0;
}

.mainAppPane .always-on-top-icon:always-on-top {
	-fx-opacity: 1.0;
}


.mainAppPane .sidebar {
	-fx-background-color:-primary-gradient;
	-fx-background-insets: -1 -5 -1 -1;
	-fx-background-radius: 0 20 20 0;
}

.mainAppPane .sidebar .header {
	-fx-font-family: 'Visby Round CF Heavy';
	-fx-font-size: 24;
	-fx-text-fill: white;
}

.mainAppPane .sidebar .header .mfx-font-icon {
	-mfx-color: white;
}

.mainAppPane .sidebar .mfx-scroll-pane {
	-fx-background-color: transparent;

	-track-color: rgba(255, 255, 255, 0.3);
	-thumb-color: white;
	-thumb-hover-color: white;
}

.mainAppPane .sidebar .menu-label {
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-pref-height: 40;

	-fx-font-family: 'Visby Round CF Demi Bold';
	-fx-font-size: 13;
	-fx-text-fill: white;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-ripple-generator {
	-mfx-paused: true;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: white;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node:selected {
	-fx-background-color: white;
	-fx-background-radius: 5;
	-fx-text-fill: black;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .selection-rectangle {
	-fx-stroke: transparent;
	-fx-fill: #601cbe;
}

.mainAppPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: black;
}

.contentPane{
	-fx-background-radius: 30;
	-fx-background-color: #e8eaf6;

}

.notfound_label {
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 25;
	-fx-text-fill: black;
}

.mainAppPane .statusBar{
   	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 15;
	-fx-text-fill: black;
	-fx-background-radius: 15;
}






